* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* 
Project-1 styling 
*/
body {
	width: 100%;
  height:auto;
	padding: 1rem;
	font-family: 'Trebuchet MS';
	display: flex;
	flex-flow: column;
	justify-content: center; 
	align-items: center;
  }
main{
	display: flex;
  flex-flow: column;
  justify-content: center; 
  align-items: center;
  gap: 1rem;
  width: 19rem;
  height:auto;
  border: 4px dashed black;
  padding: 1rem;
  background-color: hsl(138, 16%, 89%);
  }
h1{
	font-size: 1rem;
	text-align: center;
	border: 2px dashed hsl(138, 40%, 38%);
  }
h2{
	font-size: 0.8rem;
	text-align: center;
	border: 2px dashed hsl(138, 40%, 38%);
  }
fieldset{
	border: 2px dashed hsl(138, 40%, 38%);
  padding: 0.5rem;
  }
legend{
	font-size: 0.9rem;
	font-weight: bolder;
  }
button{
	padding: 0.3rem;
	font-weight: bolder;
  }
ul{
    display: flex;
  flex-flow: row;
  justify-content: center; 
  align-items: center;
  gap: 0.2rem;
  }
ul > input {
    width: 21%;
    font-size: 0.7rem;
  }
#appointment-weekday{
  width: 50%;
  font-size: 0.7rem;
}
#countdown-timer{
  text-align: center;
  font-size: 1rem;
}
#election-hold{
    font-size: 0.8rem;
    font-weight: bolder;
    text-align: center;
    }
#election-hold-date{
      font-size: 0.8rem;
      font-weight: bolder;
      text-align: center;
      }
.vote{
	display: flex;
  flex-flow: column;
  justify-content: center; 
  align-items: center;
}
b{
  font-size: 0.8rem;
  font-weight: bolder;
  text-align: center;
  color:red;
}
#appointment-units{
  font-size: 0.7rem;
  font-weight: bolder;
  text-align: center;
}